body{
	font-size: 20px;
	width: 750px;
	margin: 0 auto;
	padding-top: 20px;
	color: #333;
	background-color: #eee;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #333;
}
td{
	padding: 5px;
}
input{
	border: 1px solid #333;
	text-indent: 2px;
	margin-right: 5px;
}
select,textarea{
	border: 1px solid #333;
	background-color: #333;
	color: white;
	font-size: 14px;
}
.parms_div{
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
}
.parms_div button{
	background: #F5F5F1;
	border: 1px solid #333;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	height: 40px;
	width: 80px;
	text-align: center;
}
.parms_div span{
	float: left;
}

.result {
	width:800px;
	height:500px;
	border: 1px solid #333;
	border-radius: 5px;
}


